section.main.buy
  //Top
  .top-block
    background black
    color white
    padding 2em 0 0 0
    position relative
    overflow hidden
    .site-container
      position relative
      z-index 2
    video.dots
      position absolute
      left 50%
      top -30%
      z-index 1
      width 700px
      max-width none
      margin-left -350px
      @media (min-width 370px)
        top -20%
      @media (min-width 450px)
        top -10%
    .title
      text-transform uppercase
      font-size 1.9em
      text-align center
      font-weight 300
      margin 0 auto .5em auto
      letter-spacing .1em
    .view
      text-transform uppercase
      font-size .69em
      width 15em
      @extend .clearfix
      margin 0 auto
      &-title
        margin .6em 1em 0 0
        float left
      &-value
        float left
        @extend .clearfix
        label
          float left
          cursor pointer
          input[type=radio]
            display none
          span
            display inline-block
            padding .4em 1em
            border 1px solid color-blue
            color color-blue
          input[type=radio]:checked + span
            color black
            background color-blue
    .bike
      display block
      width 100%
      margin 0 auto 30px auto
      position relative
    .details
      position absolute
      left 0
      top 43px
      width 100%
    .links
      position absolute
      left 0
      top 44px
      width 100%
    .params
      margin-bottom 1.3em
      position relative
      table
        border-collapse collapse
        font-size .8em
        margin-bottom 2em
        td
          border-top 1px solid darken(color-blue, 50%)
          border-bottom 1px solid darken(color-blue, 50%)
          padding .5em
          text-align right
          &:first-of-type
            color #787878
            span
              text-transform uppercase
              &::after
                content ' '
            em
              font-style normal
          &:last-of-type
            padding-right 0
      .button
        position relative
        text-align center
      .button-component
        margin-bottom 0
        padding-left 2.5em
        padding-right @padding-left
        position relative
        z-index 2
  //Total
  .total-block
    position sticky
    top 47px
    z-index 2
    color white
    background #171717
    @extend .clearfix
    text-transform uppercase
    padding 1.5em 0
    font-size .9em
    margin-bottom 1em
    small
      font-size 1em
      float left
      color #787878
    em
      font-style normal
      float right
      i
        font-style normal
        margin-right .7em
      b
        color color-blue
        span:first-of-type
          &::after
            content ' '
  .block-title
    text-transform uppercase
    padding-bottom .5em
    margin-bottom 1em
    border-bottom 1px solid #b7b7b7
    font-weight bold
    color #080808
    font-size 1.33em
  //Options
  .options-block
    //Option
    .option
      margin-bottom 3.5em
      .row
        @extend .clearfix
        border-bottom 1px solid lighten(#b7b7b7, 70%)
        padding-bottom 1em
        margin-bottom 1em
        .hex
          float left
          margin-right .5em
          width 20px
          height @width
          &.__gradient
            background image-url('pages/buy/gradient.png') no-repeat top center / contain
          &.__carbon
            background image-url('pages/buy/carbon.png?ver=1') no-repeat top center / contain
        .title
          margin-right 10em
          margin-bottom .2em
          font-size 1.33em
          &.__margin-top
            margin-top .3em
        .desc
          margin-right 10em
          position relative
          padding-left 20px
          .desc-pop-up
            display none
            position absolute
            z-index 1
            left -5px
            bottom calc(100% + 10px)
            background white
            padding 27px 10px 10px 10px
            box-shadow 0 0 40px rgba(black, .3)
            border-top 2px solid color-blue
            min-width 250px
            max-width 400px
            .pop-up-container
              max-height 290px
              overflow auto
              font-size 1.2em
            .pop-up-close
              position absolute
              right 8px
              top @right
              width 18px
              height @width
              fill color-blue
            .pop-up-caret
              caret(white, 8px, down)
              position absolute
              bottom -15px
              left 5px
            .pop-up-title
              font-weight bold
              margin-bottom .3em
            .pop-up-text
              margin-bottom .6em
            .pop-up-img
              margin-bottom .6em
          .desc-text
            color #8a8a8a
            font-size 1.33em
          .info-icon
            display inline-block
            width 15px
            height @width
            position absolute
            left 0
            top 0
            background image-url('main/info.svg') no-repeat center center / contain
        .price
          float right
          color color-blue
          font-weight bold
          margin .3em 1.3em 0 0
          text-align right
          font-size 1.33em
        .individual
          clear both
          width 180px
          outline none
          border 1px solid #b7b7b7
          box-sizing border-box
          padding .5em .8em
          display block
          margin-bottom -.3em
          border-radius 0
          font-size 1.33em
        .button
          float right
          text-align center
          position relative
          input[type=radio]
            position absolute
            left 0
            top 0
            opacity .01
          em
            display inline-block
            width 42px
            height 22px
            background #8b8b8b image-url('main/ios-checkbox-bg.svg') 0 1px / 22px no-repeat
            transition background-position-x .5s, background-color .5s
            border-radius 2em
          input[type=radio]:checked + em
            background-color black
            background-image image-url('main/ios-checkbox-bg-checked.svg')
            background-position-x 100%

  //Десктоп
  @media (min-width mup)
    //Top
    .top-block
      padding-top 3em
      .site-container
        background  image-url('pages/buy/bg.png') no-repeat -15px 100%
      video.dots
        top 50px
        width 2000px
        margin-left -1000px
      .title
        font-size 2.3em
        width auto
        margin-bottom 170px
        margin-left 3em
      .view
        position absolute
        left 3em
        top .7em
        z-index 2
      .bike
        width auto
        max-width none
        position absolute
        left -55px
        top -40px
      .links
        width auto
        left -55px
        top -40px
      .details
        width auto
        left -55px
        top -40px
      .params
        @extend .clearfix
        margin-bottom 3.5em
        table
          float right
        table
          margin-bottom 4em
        .button
          clear both
          text-align right
    //Total
    .total-block
      top -1px
      margin-bottom 3em
      font-size 1.45em
      padding .8em 0
    .block-title
      font-size 1.2em
    //Options
    .options-block
      //Option
      .option
        .row
          .hex
            width 50px
            height @width
            margin 0 1em 0 0
          .title
            font-size 1.2em
            margin-right 0
            float left
            width 33%
            padding-top .7em
            &.__margin-top
              margin-top 0
            &.__individual
              width 25%
          .desc
            font-size 1.2em
            float left
            width 35%
            margin-right 0
            padding-top .7em
            padding-left 35px
            .desc-pop-up
              width 500px
              min-width 0
              max-width none
              left -230px
              border-top-width 3px
              padding 38px 15px 15px 15px
              box-sizing border-box
              .pop-up-container
                font-size 1em
                max-height none
              .pop-up-close
                width 23px
                height @width
                top 12px
                right @top
                cursor pointer
              .pop-up-caret
                bottom -30px
                left calc(50% - 25px)
                caret(white, 15px, down)
            .info-icon
              cursor pointer
              width 27px
              height @width
              top 14px
          .price
            width 12%
            font-size 1.2em
            box-sizing border-box
            margin-top .7em
            padding-right 1em
          .individual
            clear none
            float right
            width 550px
            margin-right 5.5em
            font-size 1.2em
            border 2px solid #dddddd
          .button
            em
              cursor pointer
              width 87px
              height 48px
              background-size 45px
              background-position-y 3px