section.main.buy
  padding-top 590px
  transition padding-top .4s
  &.__small-pad
    padding-top 280px
  //Params table
  .params-table
    border-collapse collapse
    font-size .8em
    margin-bottom 2em
    td
      border-top 1px solid darken(color-blue, 50%)
      border-bottom 1px solid darken(color-blue, 50%)
      padding .5em
      text-align right
      &:first-of-type
        color #787878
        span
          text-transform uppercase
          &::after
            content ' '
        em
          font-style normal
      &:last-of-type
        padding-right 0
  //Top
  .top-block
    background black
    color white
    position fixed
    width 100%
    max-width site-container-max-width
    top 48px
    z-index 3
    transition height .4s, top .4s
    height 520px
    box-sizing border-box
    .site-container
      position relative
      height 100%
    .title
      position absolute
      left 0
      top 15px
      width 100%
      text-transform uppercase
      font-size 1.9em
      text-align center
      font-weight 300
      letter-spacing .1em
    .view
      text-transform uppercase
      font-size .69em
      width 15em
      position absolute
      left calc(50% - 7.5em)
      top 45px
      z-index 1
      @extend .clearfix
      &-title
        margin .6em 1em 0 0
        float left
      &-value
        float left
        @extend .clearfix
        label
          float left
          cursor pointer
          input[type=radio]
            display none
          span
            display inline-block
            padding .4em 1em
            border 1px solid color-blue
            color color-blue
          input[type=radio]:checked + span
            color black
            background color-blue
    .bike-images-block
      height 267px
      position absolute
      width 100%
      max-width 500px
      right 0
      top 60px
      transition all .3s
      .bike
        display block
        width 100%
        position relative
      .details
        position absolute
        left 0
        top 0
        width 100%
      .links
        position absolute
        left 0
        top 0
        width 100%
    .params
      bottom 100px
      width 100%
      left 0
      position absolute
    .__buy-button
      position absolute
      left calc(50% - 6em)
      width 12em
      box-sizing border-box
      text-align center
      bottom 60px
    .total
      background #171717
      @extend .clearfix
      text-transform uppercase
      padding 1.5em 0
      font-size .9em
      position absolute
      left 0
      bottom 0
      width 100%
      box-sizing border-box
      small
        font-size 1em
        float left
        color #787878
      em
        font-style normal
        float right
        i
          font-style normal
          margin-right .7em
        b
          color color-blue
          span:first-of-type
            &::after
              content ' '
    .video-container
      position absolute
      height 100%
      width 100%
      left 0
      top 0
      video.dots
        position absolute
        left 0
        bottom 90px
        width 100%
    .to-main-view
      display none
    //Маленький вариант
    &.__small
      height 95px
      .title
        top 10px
        box-sizing border-box
        padding-left container-padding
        font-size 1.5em
        text-align left
        font-weight normal
        letter-spacing initial
      .__buy-button
        left container-padding
        bottom 15px
      .view, .params-table
        display none
      .bike-images-block
        width 140px
        height 95px
        right 0
        top 0
      .total
        background none
        font-size 1.2em
        bottom 35px
        small
          display none
        em
          float none
          i
            font-weight bold
      .video-container
        width 140px
        height 95px
        left auto
        right 0
        video.dots
          bottom 0
      .to-main-view
        display block
        position absolute
        right 150px
        top 60px
        color rgba(white, .5)
        font-size 1.2em
  //Десктоп
  @media (min-width mup)
    padding-top 770px
    &.__small-pad
      padding-top 450px
    //Top
    .top-block
      height 670px
      max-width none
      top 65px
      //z-index 13
      .title
        font-size 2.3em
        box-sizing border-box
        padding-left 120px
        top 40px
      .view
        left 3em
        top 50px
      .bike-images-block
        max-width none
        width 950px
        height 400px
        top 30px
        left -60px
      .params
        bottom auto
        top 280px
        @extend .clearfix
        .params-table
          margin-right 30px
          float right
      .__buy-button
        left auto
        right 30px
        width 12em
        bottom 120px
      .total
        font-size 1.45em
        padding .8em 0
      //Маленький вариант
      &.__small
        //top 0
        height 250px
        .title
          top 25px
          width 210px
          padding-left 30px
        .total
          bottom 100px
          .container
            width auto
            @extend .site-container
          em
            margin-left 30px
            width 180px
            padding .5em 0
            border-top 1px solid rgba(white, .4)
            border-bottom @border-top
        .__buy-button
          left 30px
          right auto
          bottom 50px
          font-weight bold
          padding .5em 0
          width 9.3em
        .bike-images-block
          width 450px
          height 250px
          top 0
          right 0
          left calc(100% - 450px)
        .params
          width 300px
          top 30px
          left 330px
          .params-table
            width 300px
            display table
            td
              text-align left
              &:last-child
                text-align right
        .video-container
          width 450px
          height 250px
          top 0
          right 0
          left auto
          background black
          video.dots
            width 100%
        .to-main-view
          right auto
          top auto
          left 30px
          bottom 15px
          &:hover
            text-decoration underline
            cursor pointer
