footer.main
  color white
  background image-url('main/bg.jpg') top center / 1300px
  font-size 1.55em
  line-height 1.5
  position relative
  border-bottom 2px solid color-blue
  .site-container
    padding 3em 0 7em 0
  .title
    text-transform uppercase
    margin-bottom 1em
    font-weight 300
  .menu
    float left
    width 50%
    margin-bottom 1.3em
    a
      text-transform uppercase
      font-weight bold
      display inline-block
      margin-bottom .3em
      letter-spacing .1em
  .social
    float right
    width 45%
    @extend .clearfix
    svg
      float left
      width 25px
      height @width
      fill color-blue
      margin 0 17px 17px 0
      &.__fb
        width 25px
        height @width
        position relative
        top 2px
      &.__instagram
        width 20px
        height @width
        position relative
        top 2px
        margin-right 0
    .copy
      position absolute
      text-align center
      width 15em
      bottom 2.5em
      left 50%
      margin-left -7.5em
      font-size 1.77rem
      a
        display inline-block
        margin-right .5em
      em
        color color-blue
        font-style normal
        display inline-block
        margin 0 .5em
  .contacts
    float left
    width 50%
    clear both
    a
      font-weight bold
      display inline-block
      margin-bottom .3em
  .address
    float right
    width 45%
    box-sizing border-box
  //Телефон альбом
  @media (max-width mup) and (min-aspect-ratio index-album)
    .grid
      display grid
      grid-template-columns 25% 28% 25% 22%
      &:before, &::before, &:after, &::after
        display none
      > *
        width auto
      .social
        order 1

  //Десктоп
  @media (min-width mup)
    background-size cover
    font-size 1em
    .site-container
      padding 5em 0 2.5em 0
    .title
      font-size .9em
      margin-bottom 1.5em
    .menu
      width 27%
      padding-left 1em
      box-sizing border-box
      a
        margin-bottom 0
    .contacts
      width 27%
      clear none
      a
        font-size .95em
    .address
      width 26%
    .social
      width 215px
      padding-top 2.5em
      svg
        width 45px
        height @width
        margin-right 13px
        margin-bottom 2em
        &.__fb
          width 40px
          height @width
        &.__instagram
          width 36px
          height @width
      .copy
        width auto
        margin-left 0
        clear both
        position static
        text-align right
        font-size 1.6rem
        a
          text-decoration none
          line-height 1
          border-bottom 1px solid rgba(color-blue, .5)
          &:hover
            border-bottom-color transparent