nav.main
  padding 10px 0 0 0
  background white
  @extend .clearfix
  position sticky
  top 0
  z-index 11
  .logo
    display inline-block
    width 138px
    height 35px
    margin-left container-padding
    background image-url('main/logo.png') no-repeat left top / contain
  .menu-container
    background black
    padding 0 3em
    display none
    box-sizing border-box
    width 100%
    position absolute
    top 100%
    left 0
    z-index 5
    border-bottom 2px solid color-blue
  .burger
    float right
    fill black
    width 34px
    height @width
    position relative
    top -5px
    margin-right 5px
    cursor inherit
  .menu
    margin-bottom 90px
    padding 3em 0
    a
      display block
      font-weight bold
      letter-spacing .1em
      font-size 1.33em
      margin-bottom 1.5em
      text-transform uppercase
      color color-blue
      &.__active
        color white
  .social
    text-align center
    margin-bottom 1.5em
    svg
      width 35px
      height @width
      fill color-blue
      margin 0 1.5em
      &.__fb
        width 30px
        height @width
        position relative
        top -2px
  &.__black
    background #1c1c1c
    .logo
      background-image image-url('main/logo-white.png')
    .burger
      fill white

  //Десктоп
  @media (min-width mup)
    @extend .clearfix
    padding 10px 30px 0 30px
    position relative
    .logo
      width 200px
      height 45px
      float left
    &.__index
      .logo
        position fixed
        top 10px
        left 30px
        z-index 5
      .menu
        margin-right 60px
    .menu-container
      float right
      display block !important
      border-bottom none
      position static
      padding 0
      @extend .clearfix
      width auto
      background transparent
    .burger
      display none
    .social
      display none
    .menu
      padding 0
      margin 0
      float right
      @extend .clearfix
      a
        font-weight normal
        float left
        text-transform uppercase
        color black
        margin .9em 2.1em 0 0
        padding-bottom 1em
        font-size 1em
        border-bottom 4px solid transparent
        &:last-of-type
          margin-right 0
        &.__active
          color black
          border-bottom-color color-blue
        &:hover
          text-decoration none
          &:not(.__active)
            color color-blue !important
    &.__black
      .menu
        a
          color white
    &.__active
      position sticky
