@font-face
  font-family 'Gotham Pro'
  font-weight normal
  src image-url('fonts/GothaProReg.otf')

@font-face
  font-family 'Gotham Pro'
  font-weight bold
  src image-url('fonts/GothaProMed.otf')

@font-face
  font-family 'Gotham Pro'
  font-weight 300
  src image-url('fonts/GothaProLig.otf')