font-size-main = 9px
font-size-main-mup = 15.5px
font-color-main = black
font-family-main = 'Gotham Pro', sans-serif
line-height-main = 1.33
line-height-main-mup = 1.45

color-blue = #00d2ff
link-color = color-blue

container-padding = 15px
site-container-min-width = 320px
site-container-max-width = 750px
site-container-mup-min-width = 1100px
site-container-mup-max-width = 1200px

//mup = medium up
mup = 1150px

//Для главной
index-small = 1366 \/ 750
index-medium = 1366 \/ 900
//Планшеты портрет
index-large = 768 \/ 900
//Телефоны альбом
index-album = 4 \/ 3

