.button-component
  display inline-block
  padding .8em 1.3em
  text-transform uppercase
  border 1px solid white
  color white
  cursor pointer
  &.__blue
    background color-blue
    border-color color-blue
  &.__white
    background white
    color black
    border-color color-blue
  &.__black
    background black
    border-color black
  &:hover
    text-decoration none
  @media (min-width mup)
    font-size 1.2em
    padding .6em 1.3em .5em 1.3em