@import "mixins.styl"

section.main.index
  .create-block
    container-styles()
    slide()
    .title
      margin-bottom 2em
    .bike-icon
      display block
      margin 0 auto 4em auto
      width 100%
      max-width 340px
      height 160px
    p
      margin 0 auto 4em auto
      text-align center
    .button
      padding-left 1em
      padding-right 2em
      margin-bottom 4em
    //Мобайл альбом
    @media (max-width mup) and (min-aspect-ratio index-album)
      .title
        margin-bottom .4em
      .bike-icon
        max-width 430px
        height 200px
        margin-bottom .5em
      p
        margin-bottom .5em
      .button
        margin-bottom 0

    //Десктоп
    @media (min-width mup)
      margin-bottom 8em
      .title
        margin-bottom 0
      .bike-icon
        max-width none
        width 787px
        height 366px
        margin-bottom .7em
      p
        margin-bottom .5em
      @media (min-height 700px)
        display grid
        grid-auto-flow column
        grid-template-rows .5fr 3fr 1fr 1fr
        .bike-icon, p
          margin-bottom 0
      @media (min-height 800px)
        grid-template-rows .8fr 2.8fr 1fr 1fr
      @media (max-aspect-ratio index-large)
        min-height 0
        grid-template-rows 1fr 440px 1.4fr 1fr
