@import "mixins.styl"

section.main.index
  .motor-block
    container-styles()
    slide()
    .icons-block
      z-index 2
      padding-bottom .5em
    .text-block
      margin-right 13em
    .button
      margin-top .5em
      padding-left 1.8em
      padding-right 2.2em
    //Телефон альбом
    @media (max-width mup) and (min-aspect-ratio index-album)
      .icons-block
        width 100%
        top calc(100% - 30px)
        @extend .clearfix
        .icons-row, .icons-line
          width 110px
          float right
          clear both
        .button
          margin-top 70px

    //Десктоп
    @media (min-width mup)
      mup-video-block()
      .icons-block
        right 70px
        top auto
        bottom 9em
        .icons-title
          margin-left 65px
        .icons-text
          margin-left 65px
      .button
        margin-top .8em
        padding-left 3em
        padding-right 3.5em
      .text-block
        min-height 0
        padding-top 0
    @media (min-width lup)
      .icons-block
        bottom 9em
        right 7%
      @media (max-aspect-ratio index-small)
        .icons-block
          bottom 7em
      @media (max-aspect-ratio index-medium)
        .icons-block
          bottom 4em

