@import "mixins.styl"

section.main.index
  .stand-block
    container-styles()
    slide()
    .text-block
      margin-right 13.5em
      min-height 110px
    .bike
      position absolute
      top calc(100% + 1.7em)
      right 0
      text-transform uppercase
      color rgba(#c6c6c6, .6)
      font-size .9em
      padding 90px 2em 2em 2em
      border-top 1px solid rgba(#c6c6c6, .3)
      border-bottom 1px solid rgba(#c6c6c6, .3)
      width 110px
      box-sizing border-box
      z-index 2
      text-align center
      .bike-icon
        position absolute
        left -10px
        top 10px
        width 130px
        height 63px

    @media (min-width mup)
      mup-video-block()
      .bike
        border-top-width 2px
        border-bottom-width 2px
        right auto
        left 65%
        top 50%
        width 350px
        font-size 1.21em
        padding 2em 0 2em 200px
        text-align left
        .bike-icon
          width 167px
          height 79px
          left 10px
          top 35px
      .text-block
        padding-top 0
      @media (max-aspect-ratio index-small)
        .bike
          top 63%
