@import "mixins.styl"

section.main.index
  .suspension-block
    container-styles()
    slide()
    .logos
      position absolute
      top 130px
      right 10px
      width 110px
      height 65px
      display block
      opacity 0
      z-index 2
      background image-url('pages/index/sus-logos-mob.png') no-repeat top center / contain
    .text-block
      padding-right 15em
      position relative
      min-height 170px
    .bike
      position absolute
      top calc(100% + 2em)
      right 0
      width 110px
      text-transform uppercase
      color rgba(#c6c6c6, .6)
      font-size .75em
      padding 80px 2em 2.5em 2em
      text-align center
      border-top 1px solid rgba(#c6c6c6, .3)
      border-bottom 1px solid rgba(#c6c6c6, .3)
      box-sizing border-box
      .icon
        position absolute
        top 10px
        left -10px
        width 130px
        height 64px
        .bike-icon
          width 100%
          height 100%
          opacity .3
        .shocks
          position absolute
          left 39%
          top 5%
          width 45%
          opacity 0

    @media (min-width mup)
      mup-video-block()
      .logos
        position static
        width 383px
        height 93px
        background-image image-url('pages/index/sus-logos.png')
        margin 0 auto
      .bike
        border-top-width 2px
        border-bottom-width 2px
        width 500px
        font-size 1.21em
        padding 2.5em 0 2.5em 325px
        text-align left
        right 55%
        .icon
          width 284px
          height 132px
          left 5px
          top 10px
      //Передняя подвеска
      &.__front
        .bike
          top 20%
      //Задняя подвеска
      &.__rear
        .bike
          top 9%
      @media (max-aspect-ratio index-small)
        &.__front
          .bike
            top 30%
        &.__rear
          .bike
            top 15%
