@import "mixins.styl"

section.main.index
  .tyres-block
    background black no-repeat image-url('pages/index/tyres-bg.jpg?ver=1') 50% 80px / 260px
    container-styles()
    slide()
    .row
      @extend .clearfix
    .title
      margin-bottom 230px
    .logos
      width 77px
      height 80px
      background image-url('pages/index/tyres-logos-mob.png') no-repeat top center / contain
      display block
      opacity 0
      float right
    p
      float left
      width calc(100% - 90px)
      margin -80px 0 0 0
      min-height 80px

    @media (min-width mup)
      background-size auto
      background-position 50% 100px
      padding-bottom 5em
      margin-bottom -1px
      .logos
        width 450px
        height 33px
        margin 0 auto 2em auto
        background-image image-url('pages/index/tyres-logos.png')
        float none
      p
        float none
        margin-left auto
        margin-right auto
        margin-top 0
        min-height 0
      .title
        margin-bottom 340px

      @media (min-height 700px)
        padding-bottom 0
        background none
        display grid
        grid-auto-flow column
        grid-template-rows 1.8fr 100px 1fr
        .row
          &.__title
            background 50% calc(100% + 70px) image-url('pages/index/tyres-bg.jpg?ver=1') no-repeat
          .title, .logos
            margin-bottom 0
      @media (min-height 800px)
        grid-template-rows 1.6fr 150px 1fr
      @media (max-aspect-ratio index-large)
        min-height 0
        grid-template-rows 420px 100px auto
        margin-bottom 6em

