@import "mixins.styl"

section.main.index
  .battery-block
    container-styles()
    slide()
    .text-block
      margin-right 10em
      min-height 85px
    .icons-block
      right 0
    @media (min-width mup)
      mup-video-block()
      .video-container
        margin-top 0 !important
        .preloader
          top 3%
      .icons-block
        right 20%
        top 15%
