@import "mixins.styl"

section.main.index
  .motor-block
    container-styles()
    slide()
    .icons-block
      z-index 2
      padding-bottom .5em
    .text-block
      margin-right 10em
      min-height 90px
    .button
      margin-top .5em
      padding-left 1.8em
      padding-right 2.4em
    @media (min-width mup)
      mup-video-block()
      .icons-block
        right 1%
        top auto
        bottom 9em
        .icons-title
          margin-left 65px
        .icons-text
          margin-left 65px
      .button
        margin-top .8em
        padding-left 3em
        padding-right 3.5em
      .text-block
        padding-top 0
      @media (max-aspect-ratio index-small)
        .icons-block
          bottom 7em
      @media (max-aspect-ratio index-medium)
        .icons-block
          bottom 4em

