section.main.buy
  .top-block
    background black
    color white
    padding 2em 0 0 0
    position relative
    overflow hidden
    .site-container
      position relative
      z-index 2
    video.dots
      position absolute
      left 50%
      top -30%
      z-index 1
      width 700px
      max-width none
      margin-left -350px
      @media (min-width 370px)
        top -20%
      @media (min-width 450px)
        top -10%
    .title
      text-transform uppercase
      font-size 1.9em
      text-align center
      font-weight 300
      margin 0 auto .5em auto
      letter-spacing .1em
    .view
      text-align center
      text-transform uppercase
      font-size .69em
      &-title
        display inline-block
        margin-right 1em
      &-value
        display inline-block
        label
          cursor pointer
          input[type=radio]
            display none
          span
            display inline-block
            padding .4em 1em
            border 1px solid color-blue
            color color-blue
          input[type=radio]:checked + span
            color black
            background color-blue
    .bike
      display block
      width 100%
      margin 0 auto 30px auto
      position relative
    .details
      position absolute
      left 0
      top 43px
      width 100%
    .links
      position absolute
      left 0
      top 44px
      width 100%
    .params
      margin-bottom 1.3em
      position relative
      table
        border-collapse collapse
        font-size .8em
        margin-bottom 2em
        td
          border-top 1px solid darken(color-blue, 50%)
          border-bottom 1px solid darken(color-blue, 50%)
          padding .5em
          text-align right
          &:first-of-type
            color #787878
            span
              text-transform uppercase
              &::after
                content ' '
            em
              font-style normal
          &:last-of-type
            padding-right 0
      .button
        position relative
        text-align center
      .button-component
        margin-bottom 0
        padding-left 2.5em
        padding-right @padding-left
        position relative
        z-index 2
  .total-block
    position sticky
    //top -1px
    top 47px
    z-index 2
    color white
    background #171717
    @extend .clearfix
    text-transform uppercase
    padding 1.5em 0
    font-size .9em
    margin-bottom 1em
    small
      font-size 1em
      float left
      color #787878
    em
      font-style normal
      float right
      i
        font-style normal
        margin-right .7em
      b
        color color-blue
        span:first-of-type
          &::after
            content ' '
  .block-title
    text-transform uppercase
    padding-bottom .5em
    margin-bottom 1em
    border-bottom 1px solid #b7b7b7
    font-weight bold
    color #080808
    font-size 1.33em
  .color-block
    margin-bottom 3em
    border-bottom 1px solid lighten(#b7b7b7, 50%)
    padding-bottom 1.5em
    .items
      text-align center
      display flex
      justify-content space-between
      margin-top 2em
      .item
        position relative
        cursor pointer
        display inline-block
        &:nth-of-type(even)
          margin-top 45px
        input[type=radio]
          position absolute
          left 7px
          top -15px
          opacity .01
        .hex, .hex-checked
          width 42px
          height @width
          &.__carbon
            background image-url('pages/buy/carbon.png') no-repeat top center / contain
        .hex + .hex-checked
          display none
        .check
          display none
          position absolute
          left 11px
          top 10px
          width 20px
          height @width
          background image-url('svg-sprite/check.svg') no-repeat left top / contain
        input[type=radio]:checked + .hex
          display none
        input[type=radio]:checked + .hex + .hex-checked
          display inline-block
        input[type=radio]:checked + .hex + .hex-checked + .check
          display block
  .options-block
    .option
      margin-bottom 3.5em
      .row
        @extend .clearfix
        border-bottom 1px solid lighten(#b7b7b7, 70%)
        padding-bottom 1em
        margin-bottom 1em
        .hex
          float left
          margin-right .5em
          width 17px
          height @width
          &.__gradient
            background image-url('pages/buy/gradient.png') no-repeat top center / contain
        .title
          margin-right 10em
          margin-bottom .2em
          &.__margin-top
            margin-top .3em
        .desc
          margin-right 10em
          color #8a8a8a
        .price
          float right
          color color-blue
          padding-top .7em
          font-weight bold
          margin .3em .7em 0 0
          text-align right
        .individual
          clear both
          width 180px
          outline none
          border 1px solid #b7b7b7
          box-sizing border-box
          padding .5em .8em
          display block
          margin-bottom -.3em
          border-radius 0
        .button
          float right
          text-align center
          position relative
          input[type=radio]
            position absolute
            left 0
            top 0
            opacity .01
          .button-component
            width 5em
          .button-component.__unselect
            display none
          input[type=radio]:checked + .button-component.__select
            display none
          input[type=radio]:checked + .button-component.__select + .button-component.__unselect
            display inline-block

  @media (min-width mup)
    .top-block
      padding-top 3em
      .site-container
        background  image-url('pages/buy/bg.png') no-repeat -15px 100%
      video.dots
        top 50px
        width 2000px
        margin-left -1000px
      .title
        font-size 2.3em
        width auto
        margin-bottom 170px
        margin-left 3em
      .view
        position absolute
        left 3em
        top .7em
        z-index 2
      .bike
        width auto
        max-width none
        position absolute
        left -55px
        top -40px
      .links
        width auto
        left -55px
        top -40px
      .details
        width auto
        left -55px
        top -40px
      .params
        @extend .clearfix
        margin-bottom 3.5em
        table
          float right
        table
          margin-bottom 4em
        .button
          clear both
          text-align right
    .total-block
      top -1px
      margin-bottom 3em
      font-size 1.45em
      padding .8em 0
    .block-title
      font-size 1.2em
    .color-block
      .items
        .item
          &:nth-of-type(even)
            margin-top 0
          .hex, .hex-checked
            width 80px
            height 93px
          .check
            width 40px
            height @width
            left 23px
            top 25px
    .options-block
      .option
        .row
          .hex
            width 50px
            height @width
            margin 0 1em 0 0
          .title
            font-size 1.2em
            margin-right 0
            float left
            width 33%
            padding-top .7em
            &.__margin-top
              margin-top 0
            &.__individual
              width 25%
          .desc
            font-size 1.2em
            float left
            width 35%
            margin-right 0
            padding-top .7em
          .price
            width 12%
            font-size 1.2em
            box-sizing border-box
            margin-top 0
            padding-right 1em
          .individual
            clear none
            float right
            width 550px
            margin-right 2em
            font-size 1.2em
            border 2px solid #dddddd
          .button
            .button-component
              font-size 1.2em